.App {
  text-align: center;
  padding: 4rem;
}

.scroll-box {
  margin-top: 5rem;
  border: 1px solid black;
  height: 61rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.article-box {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.like-btn {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button 종류 */
/* .unclicked svg:hover {
  cursor: pointer;
  fill: red;
}
.clicked svg {
  cursor: pointer;
  fill: red;
} */
.plus {
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z'/%3E%3C/svg%3E") no-repeat;
}
.plus:hover{
  opacity: 0.6;
}

.article {
  /* border: 1px solid black; */
  margin: 2rem 2rem 2rem 1rem;
  text-align: left;
  cursor: pointer;
  display: flex;
}
.imgdiv {
  width: 10rem;
  height: 10rem;
}
.imgdiv img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.text {
  margin-left: 1rem;
}
